<p id="notice"><%= notice %></p>

<h1>All Products</h1>
<p><%= link_to 'New Product', new_product_path %></p>

<div class="wrapper">
  <% @products.each do |product| %>
  <div class="box">
    <div><%= image_tag(product.image_url, class: 'list_image') %></div>
    <p><%= product.price.to_s + '$'  %></p>
    <p class="list_title"><%= product.title %></p>
    <span><%= product.rating %></span><br>
    <%= link_to 'Show', product %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
</div>


